version: '3.8'

services:

  backend:
    build: ./backend
    container_name: backend-container
    ports:
      - "8000:5000"
    networks:
      - devops-network

  frontend:
    build: ./frontend
    container_name: frontend-container
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_BACKEND_URL=http://backend:5000
    depends_on:
      - backend
    networks:
      - devops-network

networks:
  devops-network:
    driver: bridge